<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<div class="container">

    <div>
        <h2>Test Form</h2>
    </div>

    <!-- <form th:object="${test2form}"> -->
    <form th:object="${test3form}">
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" id="nickname" th:field="*{nickname}" class="form-control">
            <label for="age">나이</label>
            <input type="number" id="age" th:field="*{age}" class="form-control">
        </div>
    </form>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>